body {
  overflow-x: hidden;
  background-color: black;
}
#all {
  background-color: black;
}

#h-menu {
  background: white;
}
#nav-edit {
  color: white;
  font-family: "DM Serif Display";
}

#nav-edit:hover {
  text-shadow: 0px 0px 20px white;
  color: #f8e4d9;
}

#nav-edit-color {
  background-color: black;
}

#hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero::before {
  content: "";
  background-image: url(images/bg2.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

#hero-text {
  position: relative;
  font-weight: bold;
  font-family: "DM Serif Display";
  color: #e2e3da;
 text-shadow: 1px 1px 10px #d4af86;
 text-transform: uppercase;

}

#hero-t {
  position: relative;
  font-family: "DM Serif Display";
  font-weight: bold;
  color: black;
  text-shadow: 0 0 15px #2b2b2b;

}

#user-info{
  position: relative;
  font-family: "DM Serif Display";
  font-weight: bold;
  color: #e2e3da;
  text-shadow: 0 0 50px #d4af86;
  text-transform: capitalize;
  background: rgb(0, 0, 0);
  justify-content: center;
  padding: 1rem;
  width:fit-content;


}
#user-info p{
  text-transform: uppercase;

}

#user-info li{
  list-style-type: none;
  text-align-last: start;
  text-align: center;
  border-bottom: solid;
  padding-left: 0;
}

#user-info ul {
  padding-left: 0;
}

#contactForm{
  position: relative;
  font-family: "DM Serif Display";
  font-weight: bold;
  color: #e2e3da;
  text-shadow: 0 0 50px #d4af86;
  text-transform: capitalize;
  background-color: #000000;
  box-shadow: 0 0 50px #000000;
  width: 45rem;
  
}


#hero-button {
  position: relative;
  background-color: black;
  color: white;
  font-family: "DM Serif Display";

}

#hero-button:hover {
  background-color: white;
  color: black;
}

#logo {
  color: #fff;
  font-family: "Homemade Apple";
  
}

#submitButton{
  background-color: #d4af86;
}